.btn{
    width: 437px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    background: transparent;
    color: aliceblue;    
    border: 1px solid aliceblue;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover{
    background-color: #013153;
    transition-duration: 0.8s;
    transform: translateY(-7px);
}